repos:

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
        - id: trailing-whitespace
          args: 
            - --markdown-linebreak-ext=md
        - id: check-toml
        - id: check-yaml
          args:
            - --unsafe
        - id: end-of-file-fixer
        - id: check-merge-conflict
        - id: check-added-large-files
        - id: check-case-conflict
        - id: mixed-line-ending
          args: 
            - --fix=lf

    - repo: https://github.com/asottile/pyupgrade
      rev: v3.21.2
      hooks:
      -   id: pyupgrade

    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.19.1
      hooks:
        - id: mypy
          exclude: 'tests'
          additional_dependencies:
            - types-PyYAML
            - types-requests

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: 'v0.15.0'
      hooks:
        - id: ruff
          args:
            - --fix
        - id: ruff-format

exclude: ^(?!.*\.(py)($|\?)).*
